<table border="1" bgcolor="white" bordercolor="green" width="500" height="100" p align="left">

  <th align="left">Id<p align="center">&emsp;&emsp; &emsp;</th>
  <th align="left">Cities<p align="center">&emsp;</th>

  <th align="left">States<p align="center">&emsp;</th>





   <%@city.each do|city| %>


      <tr>
   <td colspan="1" bgcolor=""> <%=city.id%>  </td>
   <td colspan="1"bgcolor=""> <%=city.cities%></td>
       <td colspan="1"bgcolor=""><a href=/states/<%=state.id%>>Show</a></td>
   </tr>
         <%end%>


    </table>